RewriteEngine On

RewriteCond %{HTTP_HOST} ^www\.
RewriteRule ^ https://homelab.express%{REQUEST_URI} [NE,L,R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ / [NC,L,R=302]
